.card-champ {
  width: 200px;
  height: 250px;
  background-color: RGB(6, 28, 37);
}
.card-champ:hover {
  background-color: rgb(0, 102, 128);
}
.img-hover:hover{
  transform: scale3d(1.05, 1.05, 1);
  transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

mat-card-content h2 {
  color: RGB(147, 115, 65);
}
mat-card-header mat-card-title {
  color: RGB(147, 115, 65);
}
mat-card-header mat-card-subtitle {
  color:white;
  margin-bottom: 20px;
}
.main-grid{
  margin: 20px 100px 100px 100px;
  background: linear-gradient(to bottom, rgba(10,10,12,1), rgba(0,0,0,0.7)), url("/assets/img/zaun.jpg");
  background-repeat: no-repeat;
}
