
.header{
  padding-top: 50px ;
}
.header h1{
  text-align: center;
  color: RGB(147, 115, 65);
}
.main{
  background-color: RGB(10, 10, 12);
}
.img1{
  background: linear-gradient(to top, rgba(10,10,12,1), rgba(0,0,0,0.3)), url("/assets/img/piltover.jpg");
}

