.header{
  padding-top: 50px ;
  text-align: center;
}
.hr{
  margin-bottom: 20px;
}
.header .important{
  text-align: center;
  color: RGB(147, 115, 65);
  font-size: 84px;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header h1{
  text-align: center;
  color: RGB(147, 115, 65);
  font-size: 30px;
}
.header p{
  margin-top: -10px;
  text-align: center;
}
